
<include file="Public/mobile_head"/>	
	<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/js/lufylegend-1.8.9.simple.min.js"></script>
	<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/js/lufylegend.LoadingSample4-0.1.0.min.js"></script>
    <script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/js/scroll.js"></script>
    <script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/js/main.min.js"></script>

<body style="margin:0px 0px 0px 0px; background-color: #ded895;">
	<div id="legend"></div>
	</body>
</html>