
<!DOCTYPE html>
<html><head>

<title>在线预约</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap3/css/bootstrap.min.css" media="all">
<link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC_PATH}/online_booking.css" media="all">
<link rel="stylesheet" type="text/css" href="__STATIC__/datetimepicker/css/datetimepicker.css" media="all">
<link rel="stylesheet" type="text/css" href="__STATIC__/datetimepicker/css/dropdown.css" media="all">

<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script> -->
<!-- Cdn fail refers to local library -->
<script type="text/javascript">
if (typeof jQuery == 'undefined') {
    document.write(unescape("%3Cscript src='__STATIC__/jquery-2.0.3.min.js' type='text/javascript'%3E%3C/script%3E"));
}

// function onBridgeReady(){
//      WeixinJSBridge.invoke('getNetworkType',{},
//         function(e){
//             WeixinJSBridge.log(e.err_msg);
//             // alert(e.err_msg);
//         });


// }

// if (typeof WeixinJSBridge == "undefined"){
//     if( document.addEventListener ){
//         document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
//     }else if (document.attachEvent){
//         document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
//         document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
//     }
// }else{
//     onBridgeReady();
// }

</script>

<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8" ></script>
</head>
<body  id="onlinebooking">
    
<div class="qiandaobanner">        
 <img src="{$path}">
</div> 
<div class="cardexplain">   
  <!--后台可控制是否显示-->     
<div class="round">          
             <!-- <h2>预约说明</h2> -->        
     <div class="alert alert-info">{$config['info']}</div> 
          
</div>
<!--后台可控制是否显示-->    
<ul class="round clearfix" >       
<li class="arrow icons">          
   <a class=" clearfix" href="{$config['addressMap']}">
    <img  src="{:ADDON_PUBLIC_PATH}/img/addr.png"   width="30px" height="30px" />
    <span>地址：{$config['address']} </span>             
    </a>      
</li>
<li class="arrow icons ">                            
    <a class=" clearfix" href="tel:{$config['tel'] }" onclick="javascript:void(0)">
    <img  src="{:ADDON_PUBLIC_PATH}/img/tel.png"    width="30px" height="30px" />
    <span>预约电话： {$config['tel']}</span>              
   </a>        
 </li>
</ul>

<!--粉丝填写过的信息的，直接就显示名字电话，粉丝没有填写过信息的话，这里就直接留空让粉丝填写-->
<ul class="round">
    <form action="{:U('save')}" method="post" id="orderForm">
    <li class="title mb"><span class="none">请认真填写表单</span></li>
            <li class="nob">
        <!-- <input name="formhash" id="formhash" value="ertyuio34567hh" type="hidden"> -->
        <table class="kuang" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody><tr>
                <th >联系人</th>
                <td><input name="truename" class="px" id="truename" value=""  placeholder="请输入您的真实姓名" type="text"></td>
            </tr>
        </tbody></table>
    </li>
        <li class="nob">
        <table class="kuang" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody><tr>
                <th >联系电话</th>
                <td><input name="tel" class="px" id="tel"  value=""  placeholder="请输入您的电话" type="tel" ></td>
            </tr>
        </tbody></table>
    </li>
    <li class="nob">
        <table class="kuang" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody><tr>
            <th>预约日期</th>
            <td>
                <input type="text" class="px hasDatepicker" name="dateline" placeholder="预约日期" value="" date-language="zh-CN"   id="dateline" >
            </td>
            </tr>
        </tbody></table>
    </li>
    <li class="nob">
        <table class="kuang" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody><tr>
            <th>预约时间</th>
            <td>
                <select name="timepart" id="timepart" class="dropdown-select">
                    <for start="$start" end="$end"  step="1" >
                        <if condition="$i eq date('H') ">
                             <option value="{$i}:00-{$i+1}:00" selected="selected"> {$i}:00-{$i+1}:00</option>
                        <else />
                             <option value="{$i}:00-{$i+1}:00"> {$i}:00-{$i+1}:00</option>
                        </if>
                    </for>
                </select>
            </td>
            </tr>
        </tbody></table>
    </li>
    <if condition="count($projects) gt 0" >
        <li class="nob">
            <table class="kuang" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody><tr>
                <th>特色项目</th>
                <td>
                    <select name="type" id="type" class="download dropdown-select">
                        <option value="其它" >其它</option>
                            <volist name="projects" id="item" >
                                <option value="{$item}" >{$item}</option>
                            </volist>
                    </select>
                </td>
                </tr>
            </tbody>
        	</table>
        </li>
        <else/>
    </if>
    <li class="nob">
        <table class="kuang" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody><tr>
                <th class="thtop" valign="top">备注</th>
                <td>
                    <textarea name="info" class="pxtextarea" style=" height:99px;overflow-y:visible" id="info" placeholder="请输入备注信息"></textarea>
                                        
                </td>
            </tr>
        </tbody></table>
    </li>
</form>
</ul>

<div class="footReturn">
    <input id="showcard"  class="submit ajax_post_submit" value="提交" type="button"> 
    
     <div class="window" id="windowcenter">
        <div id="title" class="wtitle">操作提示<span class="close" id="alertclose"></span></div>
        <div class="content">
            <div id="txt"></div>
        </div>
    </div>
    
</div>
</div>


<script type="text/javascript">

$(function () {
            var nowTemp = new Date();
            var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
            // console.log($('#dateline'));
            $('#dateline').datetimepicker({
                setStartDate:nowTemp.getFullYear()+'-'+ nowTemp.getMonth()+'-'+ nowTemp.getDate(),
                format: 'yyyy-mm-dd',
                minView:'month',
                todayBtn:true,
                autoclose:true,
                language:'zh-CN'
            });
            // var ndate = $('#dateline').datepicker({
            //         format:"yyyy-mm-dd",
            //         onRender: function(date) {
            //             // if(date.valueOf() < now.valueOf()){
            //             //     $('#dateline').val(now.toString());
            //             // }
            //            return date.valueOf() < now.valueOf() ? 'disabled' : '';
            //         }
            // }).on("changeDate", function(date){
            //         ndate.datepicker('hide');
            // });


    $('.ajax_post_submit').click(function(){

        tel_num = $("#tel").val();
        if('undefined' !== typeof(tel_num)){
            if(tel_num ==''){
                alert('电话不能为空');
                return;
            } 

            if(tel_num.length < 11){
                alert('请输入正确的电话');
                return;
            }
        }

        if($("#truename").val()==''){
            alert('名字不能为空');
            return;
        }
        var target,query,form;
        var target_form = $(this).attr('target-form');
        var url = $("#orderForm").attr('action');
        $.ajax({
           type: "POST",
           url: url,
           dataType: 'json',
           async: false,
           data: $('#orderForm').serialize(),
           success: function(data){
                // console.log(data);
                 try{
                    if(data.status){                        
                        alert(data.info);
                    }else{
                        alert(data.info);
                    }
                }catch(e){
                        alert("提交出错,请刷新页面重试一次");
                }
           }
        });
        return false;
    });
});



$("#windowclosebutton").click(function () {
$("#windowcenter").slideUp(500);
});
$("#alertclose").click(function () {
$("#windowcenter").slideUp(500);
});
function jumpurl(url){
window.location.href = url;
}
function alert(title){

$("#windowcenter").slideToggle("slow");
$("#txt").html(title);
setTimeout('$("#windowcenter").slideUp(1000)',4000);
}

</script>
</body>
</html>