<!DOCTYPE html>
<html lang="zh-cn">
<head>
<title>{$title|default='古睿信息科技'}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="古睿,古睿信息科技，绍兴古睿，移动网站制作，网站建设" name="keywords"/>
<meta content="专业网站建设、平台开发，移动网站建设。百科制作，地图名片制作。" name="description"/>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

<link type="text/css" rel="stylesheet" href="__STATIC__/bootstrap3/css/bootstrap.min.css" />

<link type="text/css" rel="stylesheet" href="__CSS__/index-a.css?v={:SITE_VERSION}" />
<link type="text/css" rel="stylesheet" href="__STATIC__/flexisel/flexisel.css?v={:SITE_VERSION}" />

<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<!-- <script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script> -->
<!-- Cdn fail refers to local library -->
  <script type="text/javascript">
    if (typeof jQuery == 'undefined') {
        document.write(unescape("%3Cscript src='__STATIC__/jquery-2.0.3.min.js' type='text/javascript'%3E%3C/script%3E"));
    }
 </script>
<script type="text/javascript" src="__STATIC__/bootstrap3/js/bootstrap.min.js"></script>

<script type="text/javascript" src="__STATIC__/lazyloadSm.js"></script>
<script type="text/javascript" src="__STATIC__/flexisel/jquery.flexisel.js"></script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?0cf1c3c27eeb3be94102e955574a5a4e";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>
<body class="a">
<div class="navbar navbar-default navbar-fixed-top ">
      <div class="container">
        <div class="navbar-header col-lg-2 col-md-3  ">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand  h2 logo " href="{:SITE_URL}"></a>
        </div>
        <div class="navbar-collapse collapse ">
          <ul class="nav navbar-nav nav-xs-block">

            <li><a href="{:SITE_URL}" class="  h4 ">首页</a></li>
            <volist name="channels" id="channel">

               <li><a href="{$channel.url|get_nav_url}"  class=" h4" target="{$channel['target']|get_url_target}" >{$channel.title}</a></li>
              
            </volist>
           
            <li class="pull-right"></li>
          </ul>
          <div class="telphone  hidden-xs"><a href="tel:057585060707" onclick="javascript:void(0);" title="欢迎联系我们"><span class="glyphicon glyphicon-earphone"></span><span class="hidden-sm">  0575-85060707</span></a></div>
        </div>
      </div>
    </div>
