

    <include file="Base/_head" />
        <div class="container greybg container-body" >
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img data-original="__IMG__/wg/banner-a.jpg" data-sm-original="__IMG__/wg/banner-a.jpg" alt="1" src="" class="lazy" width="1024"  >
            </div>
            
           <div class="item">
              <img data-original="__IMG__/wg/banner-b.jpg" data-sm-original="__IMG__/wg/banner-b.jpg" alt="2" class="lazy" width="1024" >
            </div>
           <div class="item">
              <img data-original="__IMG__/wg/banner-c.jpg" data-sm-original="__IMG__/wg/banner-c.jpg" alt="3" class="lazy" width="1024" >
            </div>


         <!--   <div class="item">
              <img data-original="__IMG__/wg/banner-d.jpg" data-sm-original="__IMG__/wg/banner-d.jpg" alt="2" class="lazy" width="1024" >
            </div> -->
           <div class="item">
              <img data-original="__IMG__/wg/banner-e.jpg" data-sm-original="__IMG__/wg/banner-e.jpg" alt="3" class="lazy" width="1024" >
            </div>


          </div>

          <!-- Controls -->
          <a class="left carousel-control hidden-xs" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control hidden-xs" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
        <!--  END carousel -->
      
          <div class="row col-sm-12 col-md-12 col-lg-12 features">
                     <h3> 
                    <img data-sm-original="__IMG__/wg/hangyegn-sm.png" data-original="__IMG__/wg/hangyegn.png" class="lazy img-responsive center-block"></img></h3>
                    <div class="col-lg-2 col-sm-3 col-xs-4 text-center" >
                        <h3> <a href="" title="微调研"><img src="__IMG__/features/wdy.png" alt="微调研" >
                        <br>
                        <span>微调研</span>
                        </a></h3>
                        <p>无需人力电子调研
                        </p>
                    </div>
                    <div class="col-lg-2 col-sm-3  col-xs-4 text-center">
                         <h3> <a href="" title="微商城"><img src="__IMG__/features/wsc.png" alt="微商城" >
                        <br>
                        <span>微商城</span>
                        </a></h3>
                         <p>小微信也有大商城<br>
                            电商轻松走入微信
                        </p>
                    </div>
                   <div  class="col-lg-2 col-sm-3  col-xs-4 text-center">
                    <h3> <a href="" title="微吧"><img src="__IMG__/features/wb.png" alt="微吧" >
                        <br>
                        <span>微吧</span>
                        </a></h3>
                        <p>微信上的休闲吧<br>
                            交流互动话品牌
                        </p>
                    </div>
                    <div class="col-lg-2 col-sm-3  col-xs-4  text-center">
                         <h3> <a href="" title="微喜帖"><img src="__IMG__/features/wxt.png" alt="微喜帖" >
                        <br>
                        <span>微喜帖</span>
                        </a></h3>
                        <p>颠覆传统方式<br>
                            让庆典更时尚
                        </p>
                   </div>
                   <div  class="col-lg-2 col-sm-3 col-xs-4  text-center" >
                         <h3> <a href="" title="微团购"><img src="__IMG__/features/wtg.png" alt="微团购" >
                        <br>
                        <span>微团购</span>
                        </a></h3>
                        <p>还怕库存淡旺季
                            安啦，我有微团购
                        </p>
                    </div>
                   <div  class="col-lg-2 col-sm-3 col-xs-4  text-center" >
                         <h3> <a href="" title="微房产"><img src="__IMG__/features/wfc.png" alt="微房产" >
                        <br>
                        <span>微房产</span>
                        </a></h3>
                        <p>房产行业解决方案<br>
                            360度看房更给力
                        </p>
                   </div>

                    <div class="col-lg-2  col-sm-3 hidden-xs text-center" >
                        <h3> <a href="" title="微网站"><img src="__IMG__/features/wwz.png" alt="微网站" >
                        <br>
                        <span>微网站</span>
                        </a></h3>
                        <p>酷炫微网站<br>
                            微信上的形象门户
                        </p>
                    </div>
                    <div class="col-lg-2  col-sm-3 hidden-xs text-center">
                         <h3> <a href="" title="一战到底"><img src="__IMG__/features/yzdd.png" alt="一战到底" >
                        <br>
                        <span>一战到底</span>
                        </a></h3>
                         <p>融品牌于知识<br>
                             变销售为乐趣
                        </p>
                    </div>
                   <div  class="col-lg-2  hidden-sm hidden-xs text-center">
                    <h3> <a href="" title="无敌幸运机"><img src="__IMG__/features/wdxyj.png" alt="无敌幸运机" >
                        <br>
                        <span>无敌幸运机</span>
                        </a></h3>
                        <p>幸运机摇奖服务<br>
                            增强用户粘性
                        </p>
                    </div>
                    <div class="col-lg-2  hidden-sm hidden-xs text-center">
                         <h3> <a href="" title="大转盘"><img src="__IMG__/features/dzp.png" alt="大转盘" >
                        <br>
                        <span>大转盘</span>
                        </a></h3>
                        <p>快乐大转盘<br>
                            幸运落谁家
                        </p>
                   </div>
                   <div  class="col-lg-2 hidden-sm hidden-xs text-center" >
                         <h3> <a href="" title="刮刮卡"><img src="__IMG__/features/ggk.png" alt="刮刮卡" >
                        <br>
                        <span>刮刮卡</span>
                        </a></h3>
                        <p>开展在线刮奖活动<br>
                            吸引顾客线下消费
                        </p>
                    </div>
                   <div  class="col-lg-2 hidden-sm hidden-xs text-center" >
                         <h3> <a href="" title="优惠券"><img src="__IMG__/features/yhq.png" alt="优惠券" >
                        <br>
                        <span>优惠券</span>
                        </a></h3>
                        <p>电子优惠券利益客户<br>
                            又节约营销预算
                        </p>
                   </div>



                   <div class="col-lg-2 hidden-sm hidden-xs text-center" >
                        <h3> <a href="" title="LBS"><img src="__IMG__/features/LBS.png" alt="LBS" >
                        <br>
                        <span>LBS</span>
                        </a></h3>
                        <p>适用于多门店、多服务点<br>
                            让客户更方便的找到你
                        </p>
                    </div>
                    <div class="col-lg-2 hidden-sm hidden-xs text-center">
                         <h3> <a href="" title="智能客服"><img src="__IMG__/features/znkf.png" alt="智能客服" >
                        <br>
                        <span>智能客服</span>
                        </a></h3>
                         <p>智能客服，自动应答<br>
                             7x24不间断服务
                        </p>
                    </div>
                   <div  class="col-lg-2 hidden-sm hidden-xs text-center">
                    <h3> <a href="" title="关键词回复"><img src="__IMG__/features/gjc.png" alt="关键词回复" >
                        <br>
                        <span>关键词回复</span>
                        </a></h3>
                        <p>便捷关键词回复<br>
                            轻松设置
                        </p>
                    </div>
                    <div class="col-lg-2 hidden-sm hidden-xs text-center">
                         <h3> <a href="" title="微餐饮"><img src="__IMG__/features/wcy.png" alt="微餐饮" >
                        <br>
                        <span>微餐饮</span>
                        </a></h3>
                        <p>微信上实时点餐<br>
                            餐厅开在微信上
                        </p>
                   </div>
                   <div  class="col-lg-2 hidden-sm hidden-xs text-center" >
                         <h3> <a href="" title="微汽车"><img src="__IMG__/features/wqc.png" alt="微汽车" >
                        <br>
                        <span>微汽车</span>
                        </a></h3>
                        <p>预约试驾、保养<br>
                            360度看车、车主关怀
                        </p>
                    </div>
                   <div  class="col-lg-2 hidden-sm hidden-xs text-center" >
                         <h3> <a href="" title="在线预约" rel="#overlay"><img src="__IMG__/features/zxyy.png" alt="在线预约" >
                        <br>
                        <span>在线预约</span>
                        </a></h3>
                        <p>在线预订预约<br>
                            帮您一键搞定
                        </p>
                   </div>
        </div>
    
  <!--       <div class="row text-center morecases">
            <button type="button" class="btn btn-gray btn-lg">更多功能</button>
        </div> -->

        <!-- case  start -->
            <div class="row col-xs-12 col-md-12" style="padding-bottom:10px;">
                <h3> <img  data-original="__IMG__/wg/albanner.png" data-sm-original="__IMG__/wg/albanner-sm.png"  alt="客户案例" class="lazy img-responsive center-block" /> </h3>
                <ul class="cases">
                    <li>
                      <img data-original="__IMG__/wg/01.jpg" data-sm-original="__IMG__/wg/01.jpg" alt="1" src="" class="lazy" width="220"   height="320" />
                    </li>            
                    <li>
                      <img data-original="__IMG__/wg/02.jpg" data-sm-original="__IMG__/wg/02.jpg" alt="2" class="lazy" width="220"  height="320" />
                    </li>
                    <li>
                      <img data-original="__IMG__/wg/03.jpg" data-sm-original="__IMG__/wg/banner-c.png" alt="3" class="lazy" width="220" height="320" />
                    </li>
                    <li>
                      <img data-original="__IMG__/wg/04.jpg" data-sm-original="__IMG__/wg/04.jpg" alt="2" class="lazy" width="220"  height="320" />
                    </li>
                    <li>
                      <img data-original="__IMG__/wg/05.jpg" data-sm-original="__IMG__/wg/05.jpg" alt="3" class="lazy" width="220"  height="320" />
                    </li>
              </ul>
        
         </div>

        <!-- case  end -->
   <!--      <div class="row text-center morecases">
            <button type="button" class="btn btn-gray btn-lg">更多案例</button>
        </div> -->
    </div>
    <!-- container  end -->

    
    <include file="Base/_footer" />