body.a{
	padding: 60px 0px 30px 0px;
	margin: 0px;
	font-family: "Microsoft YaHei","FangSong_GB2312","HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	background: floralwhite;
}
.a .greybg{
	background: #fafafa;
}
.a hr{
	margin-top:0px;	
}
.a a,
.a span{
	color:#777;
}
.a a{	
	transition: all 0.2s ease 0s;
	outline: 0;
}
.a a:hover{
	text-decoration: none;
	color:#333;
}
.a .container{
	width:100%;
}
.a .navbar{
	border:0px;
	/*padding: 10px 60px 0px 60px;*/
}
.a .navbar .navbar-nav >li > a{
	color:#777;
	background: transparent;
}
.a .navbar .navbar-nav > li > a:hover{
	transition: background-color 1s;
	-moz-transition: background-color 1s; /* Firefox 4 */
	-webkit-transition: background-color 1s; /* Safari 和 Chrome */
	-o-transition: background-color 1s; /* Opera */
	
	color:#070707;
}
.a .navbar  a:hover{
	text-decoration: none;

}

/*底部导航样式*/
/*重写bootstrap3的样式*/
.a .btn{
	border:0px;
}
.a  .btn-primary {
	background-color: #3498db;
}
.a  .btn-primary:hover ,
.a  .btn-primary:focus{
	background-color: #5dade2;
}
.a .carousel-control{
	width:5%;
}
.a .carousel-control.right,
.a .carousel-control.left{
	background-image:none;
	color:#2980B9;
	font-size: 20px;
}
.a .carousel-inner>.item>img, .carousel-inner>.item>a>img{
	height: 420px;
	width: 100%;
}

/*新增样式*/

.a .logo{
/*	background: url('../images/wg/footlogo.png');
	width: 220px;
	height: 64px;*/
	background: no-repeat url('../images/wg/footlogo.png');
	width: 220px;
	height: 50px;
	background-position-y: -20px;
	/*left:0px;
	position: fixed;*/
}

.a .telphone{
	float: 	right;
	margin-right: 30px;
	padding-top: 10px;
	font-size:21px;
	color:#1ABC9C;
}

.a .telphone a{
	color:#1ABC9C;
}

.a .container-body{
	padding-top: 60px;
	padding-bottom: 10px;
}

/* foot */
.a .footer  a:hover{	color:#eee;
}
.a .footer{ background:#333; padding:10px 0 10px;}
.foot_wrap{ position:relative; overflow:hidden; zoom:1}
.foot_div{ width:300px; float:left;}
.footer h6{ font-size:20px; color:#fff; margin-bottom:15px;}
 .a  .footer a{font-size:14px; color:#ddd; line-height:30px;}
.copyright{ color:#aaa; font-size:12px; text-align:center;  margin-top:30px;line-height:40px;}
.copyright .icp{padding-left: 15px; font-size: 12px;}

.getqrcode{color:#ddd}
.getqrcode img{ width:100px; height:100px; float:left; margin-right:10px;}
.getqrcode p{ line-height:30px;}
.top_getqrcode{ position:static; margin:20px 0 0 10px; color:#999; font-size:16px;}

#dituContent{
	height:480px;
}
/*其它尺寸适应*/

@media (max-width: 767px){
	
	#dituContent{
		height:240px;
	}
	.a .logo{
		transform:none;
		-webkit-transform:none;
		-ms-transform:none;
		-o-transform:none;
		position: relative;
	}
	.a{
		padding: 0px;
		padding-bottom: 90px;
		padding-top: 35px;
	}
	.a .container{
		padding: 0px;
	}
	.a .navbar{
		padding: 0px;
	}
	
	.a .carousel-inner>.item>img, .carousel-inner>.item>a>img{
		height: 160px;
		width: 100%;
	}
	.a .nav-xs-block li {
		text-align: center;
		width: 50%;
		float:left;
	}

	.a .main-content{
		padding: 0px 5px;
	}
	.a .main-content .item span{
		font-size: 14px;
	}

	.a .main-content .bar h3{
		margin: 0px;
		padding: 5px;
	}

	.a .main-content .panel{
		padding: 5px;
	}

}
@media (min-width: 768px) and (max-width: 991px) {	
	body.a{
		padding: 0px;
		padding-bottom: 90px;
		padding-top: 35px;
	}
	.a .container-body{
		/*padding-top: 130px;*/
	}
	.a .carousel-inner>.item>img, .carousel-inner>.item>a>img{
		height: 260px;
		width: 100%;
	}
}
@media  (min-width: 992px) and (max-width: 1199px)  {
	.a .container-body{
		padding-top: 60px;
	}
}

@media (min-width: 1200px)  {

}